{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block meta_description %}
    <meta name="description" content="Panel de administración de INES - Monitoreo en tiempo real, configuración de umbrales e historial del sistema de edificios.">
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}

    <script src="{% static 'js/script.js' %}" defer></script>
    {% block extra_head_js %}{% endblock %}
</head>
<body class="preload">
    <div class="main-layout">
        {% include 'core/components/sidebar.html' %}

        <main class="main-content">
            <div class="form-page pb-0">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    {% include 'core/components/toast_messages.html' %}

    <script>
        window.CSRF_TOKEN = "{{ csrf_token|escapejs }}";
    </script>


    {% block extra_js %}{% endblock %}
</body>
</html>
